@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container_padding {
  @apply px-4 sm:px-8 md:px-16 lg:px-20 xl:px-24 2xl:px-28 
}

.copyHex_icon {
  @apply object-contain  cursor-pointer absolute hidden group-hover:block
  inset-0 bg-gray-700 rounded-full p-1
}

.hex_theme_container {
  @apply flex justify-center items-center w-full h-10 p-2 
}

section {
  @apply my-12
}